@charset "utf-8";

@media screen and (min-width: 1080px){
.overlay {
    position: fixed;
    top: -10rem;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible; /* Este valor se cambi贸 de hidden a visible */
    opacity: 1; /* Este valor se cambi贸 de 0 a 1 */
    z-index: 100;
}
#popup:target{
  visibility: hidden; /* Se regresa a hidden para ocultar */
  opacity: 0; /* Se regresa a o para hacerlo "invisible" */
}
#popupBody{
    width: 40%;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 0 0 5px #CCC;
    background: #FFF;
    position: relative;
   /* transition: all 5s ease-in-out;*/
    margin: 20% auto;    
}
#cerrar{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F00;
}
    
}

@media screen and (max-width: 900px){
    .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible; /* Este valor se cambi贸 de hidden a visible */
    opacity: 1; /* Este valor se cambi贸 de 0 a 1 */
    z-index: 100;
}
#popup:target{
  visibility: hidden; /* Se regresa a hidden para ocultar */
  opacity: 0; /* Se regresa a o para hacerlo "invisible" */
}
#popupBody{
    width: 65%;
    padding: 1%;
    border-radius: 5px;
    box-shadow: 0 0 5px #CCC;
    background: #FFF;
    position: relative;
   /* transition: all 5s ease-in-out;*/
    margin: 20% auto;    
}
#cerrar{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #F00;
}
}